<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:allowBackup="true">
        <activity
            android:name=".Chapter3BigHome"
            android:exported="false"
            android:theme="@style/Theme.AndroidDemo1" />
        <activity
            android:name=".CalculatorActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.NING" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".ButtonClickActivity" />

        <activity android:name=".ButtonEableActivity" />

        <activity android:name=".ButtonLongClickActivity" />

        <activity android:name=".ButtonStyleActivity" />

        <activity android:name=".GridLayoutActivity" />

        <activity android:name=".ImageButtonActivity" />

        <activity android:name=".ImageStyleActivity" />

        <activity android:name=".ImageTextActivity" />

        <activity android:name=".LinearLayoutActivity" />

        <activity android:name=".RelativeLayoutActivity" />

        <activity android:name=".ScrollViewActivity" />

        <activity android:name=".TextColorActivity" />

        <activity android:name=".TextSizeActivity" />

        <activity android:name=".TextViewActivity" />

        <activity android:name=".ViewBorderActivity" />

        <activity android:name=".ViewMarginActivity" />

        <activity android:name=".ViewGravityActivity" />
    </application>

</manifest>