<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="io.github.haoyiwen.react_native_container.MyReactNativeApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:targetApi="31">
        <activity
            android:name=".BaseLoadingTestActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false" />
        <activity
            android:name=".BaseActivity"
            android:exported="false" />
        <activity
            android:name=".ReactNativeFragmentActivity"
            android:exported="false" />
        <activity
            android:name=".BigHomeActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FragmentView"
            android:exported="false" />
        <activity
            android:name="com.yiwen.recyclerviewtest.HomeActivity"
            android:exported="true">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.javaviewtest.FragmentView" />
        </activity>
        <activity
            android:name="com.yiwen.java_view_other.ShareActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <!-- 此处使用mmietype而不是type -->
                <!-- <data android:type="*/*" /> -->
                <data android:mimeType="*/*" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yiwen.java_view_other.BigHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.yiwen.java_view_other.ColorAndColorsActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden" />
        <activity
            android:name="io.flutter.embedding.android.FlutterActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.yiwen.compose_views.ComposeActivity"
            android:exported="false"
            android:theme="@style/Theme.JavaViewTest" />

        <!--   ==============分割线=================    -->
        <activity
            android:name="com.yiwen.java_view_other.NavigationFragmentActivity"
            android:exported="false">
            <nav-graph android:value="@navigation/nav_graph_test" />
        </activity>
        <activity
            android:name="com.yiwen.java_view_other.LiveDataActivity"
            android:exported="false" />
        <activity
            android:name="com.yiwen.java_view_other.ViewBindingActivity"
            android:exported="false" />
        <activity
            android:name="com.yiwen.java_view_other.AnimationActivity"
            android:exported="false" />
        <activity
            android:name="com.yiwen.java_view_other.ViewModelWithXml"
            android:exported="false" />
        <activity
            android:name="com.yiwen.java_view_other.ScanActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />
        <activity
            android:name="com.yiwen.java_view_other.WebviewActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.yiwen.java_view_other.LoadingActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.yiwen.java_view_other.EventBusActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <!--  ============分割线=================      -->
        <activity
            android:name="com.yiwen.recyclerviewtest.IncludeTestView"
            android:exported="false" />
        <activity
            android:name="com.yiwen.recyclerviewtest.ListViewActivity"
            android:exported="false">
            <meta-data
                android:name="androidx.core.app.PARENT_ACTIVITY"
                android:value=".HomeActivity" />
        </activity>
        <activity
            android:name="com.yiwen.recyclerviewtest.CardViewActivity"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yiwen.recyclerviewtest.HomeActivity" />
        </activity>

        <activity
            android:name="com.yiwen.recyclerviewtest.RecycleView"
            android:exported="false">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.yiwen.recyclerviewtest.HomeActivity" />
        </activity>
        <!-- ========分割线=================       -->
        <activity
            android:name="io.github.haoyiwen.third_sdk.NavigateWXActivity"
            android:exported="false" />
        <activity
            android:name="io.github.haoyiwen.third_sdk.SDKHomeActivity"
            android:exported="false" />

        <!--  ====分割线=================      -->
        <activity
            android:name="io.github.haoyiwen.react_native_container.RNHomeActivity"
            android:exported="false" />
        <activity
            android:name="io.github.haoyiwen.react_native_container.ReactNativeActivity"
            android:exported="false" />
        <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
        <activity
            android:name="com.facebook.flipper.android.diagnostics.FlipperDiagnosticActivity"
            android:exported="true" />
    </application>

</manifest>