<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".Chapter6BigHomeActivity"
            android:exported="false" />
        <activity android:name=".AppWriteActivity" />
        <activity android:name=".DatabaseActivity" />
        <activity android:name=".FileWriteActivity" />
        <activity android:name=".ImageWriteActivity" />
        <activity android:name=".LoginForgetActivity" />
        <activity android:name=".LoginMainActivity" />
        <activity android:name=".LoginSQLiteActivity" />
        <activity android:name=".RoomWriteActivity" />
        <activity android:name=".ShareWriteActivity" />
        <activity android:name=".ShoppingCartActivity" />
        <activity android:name=".ShoppingChannelActivity" />
        <activity android:name=".ShoppingDetailActivity" />
        <activity android:name=".SQLiteHelperActivity" />
    </application>

</manifest>