<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name=".BillAddActivity"
            android:exported="false" />
        <activity
            android:name=".ShoppingDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ShoppingCartActivity"
            android:exported="false" />
        <activity
            android:name=".BillPagerActivity"
            android:exported="true"
            android:theme="@style/AppCompatTheme"></activity>
    </application>

</manifest>