<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.CAMERA" />

    <application android:hardwareAccelerated="true">
        <activity
            android:name=".StateViewActivity"
            android:exported="false" />

        <activity
            android:name=".fragmentOfBinding.FragmentOfBindingActivity"
            android:exported="false" />
        <activity
            android:name=".RelativeLayoutActivity"
            android:exported="false" />
        <activity
            android:name=".PermissonTestActivity"
            android:exported="false" />
        <activity
            android:name=".HandlerTestActivity"
            android:exported="false" />
        <activity
            android:name=".ElevationActivity"
            android:exported="false" />
        <activity
            android:name=".rxjava.RxJavaActivity"
            android:exported="false" />
        <activity
            android:name=".databinding.ObservableDataBindingActivity"
            android:exported="false" />
        <activity
            android:name=".databinding.ViewModelDataBindingActivity"
            android:exported="false" />
        <activity
            android:name=".databinding.DataBindingActivity"
            android:exported="false" />
    </application>

</manifest>